body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: system-ui, sans-serif;
    min-height: 100vh;
}

#page-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#time{
    background-color: black;
    color: white;
    padding: 0.5em 0;
    font-size: 2em;
    font-family: system-ui, sans-serif;
    width: 5em;
}